* {
    box-sizing: border-box;
    padding: 0;
}

main.holygrail-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main header.holygrail-header {
    height: 9vh;
    text-align: center;
    background-color: pink;
}

main section.mid-page {
    height: 80vh;
    width: 100%;
    display: flex;
}

section div.left-part {
    text-align: center;
    width: 25%;
    background-color: yellow;
}

section div.content {
    width: 55%;
    text-align: center;
    background-color: lightgreen;
}

section div.right-part {
    text-align: center;
    width: 20%;
    background-color: orange;
}

main footer.holygrail-footer {
    height: 9vh;
    text-align: center;
    background-color: cyan;
}

@media screen and (max-width:600px) {
    main section.mid-page {

        flex-direction: column;
        width: 100%;
    }

    section div.left-part {
        width: 100%;
    }

    section div.right-part {
        width: 100%;
    }

    section div.content {
        width: 100%;
        height: 100%;
    }
}