* {
    box-sizing: border-box;
    padding: 0;
}

main.holygrail-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main header.holygrail-header {
    height: 10vh;
    text-align: center;
    background-color: pink;
}

main section.mid-page {
    height: 80vh;
    width: 100%;
    display: flex;
}

section div.left-part {
    text-align: center;
    width: 25%;
    background-color: yellow;
}

section div.content {
    width: 55%;
    text-align: center;
    background-color: lightgreen;
}